* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  background-color: rgb(235, 235, 235);
  font-weight: 400;
}

p {
  color: hsl(0, 0%, 48%);
}

button {
  background-color: hsl(176, 50%, 47%);
  border-radius: 50px;
  border: none;
  padding: 1rem 1.75rem;
  min-width: 10rem;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover {
  background-color: hsl(176, 72%, 28%);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-image: url(./images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  height: 40vh;
}

nav {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* Mobile menu */
.hamburger {
  position: absolute;
  right: 0;
  top: 2.5px;
  display: none;
  cursor: pointer;
}

.close-menu {
  position: absolute;
  right: 0;
  top: 2.5px;
  display: none;
  cursor: pointer;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.mobile-menu-container {
  width: 80vw;
  margin: 0 auto;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.mobile-menu-container ul {
  display: flex;
  flex-direction: column;
}

.mobile-menu-container li {
  border-bottom: 1px solid rgb(235, 235, 235);
  padding: 1rem;
}

.mobile-menu-container a {
  color: black;
  font-weight: 500;
}
/* Mobile menu end */

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style: none;
  display: inline-block;
}

li a {
  color: white;
  text-decoration: none;
  margin-left: 1.5rem;
}

.container {
  width: 50vw;
  margin: -50px auto 100px auto;
  text-align: center;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.intro {
  background-color: white;
  border-radius: 10px;
  padding: 3rem 2rem;
  position: relative;
}

.intro h2 {
  margin-bottom: 1rem;
}

.intro p {
  margin-bottom: 1.5rem;
}

.intro-logo {
  position: absolute;
  top: -30px;
  right: 45%;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark {
  position: relative;
  display: flex;
  align-items: center;
}

.bookmark-icon {
  position: absolute;
  height: 100%;
  left: 0;
}

#bookmark-button {
  background-color: rgb(235, 235, 235);
  color: hsl(0, 0%, 48%);
  text-align: right;
}

.count {
  background-color: white;
  border-radius: 10px;
  padding: 2rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 1fr;
  row-gap: 1.5rem;
}

.money {
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  border-right: 1px solid rgb(235, 235, 235);
  margin-right: 2rem;
}

.backers {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  border-right: 1px solid rgb(235, 235, 235);
  margin-right: 2rem;
}

.days {
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: left;
}

.line {
  grid-column: 1/4;
  grid-row: 2/3;
  width: 100%;
  height: 10px;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  align-self: center;
}

.blue-line {
  width: 89%;
  height: 100%;
  border-radius: 10px;
  background-color: hsl(176, 50%, 47%);
}

.about {
  background-color: white;
  border-radius: 10px;
  padding: 2rem 2rem;
  text-align: left;
}

.about-intro h3 {
  margin-bottom: 2rem;
}

.about-intro p {
  margin-bottom: 1.75rem;
}

.card {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  padding: 2rem 1.5rem;
  margin-bottom: 1rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.card-body {
  margin-bottom: 2rem;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.pledge {
  color: hsl(176, 50%, 47%);
  font-size: 500;
}

span {
  font-size: 2rem;
  font-weight: 700;
}

.mahogany {
  opacity: 0.6;
}

.mahogany button {
  background-color: hsl(0, 0%, 48%);
}

/* MODAL */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.modal-container {
  margin: 100px auto;
  padding: 2rem;
  width: 60%;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.modal-intro {
  position: relative;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-span {
  font-size: 16px;
  color: hsl(176, 50%, 47%);
  margin-left: 1rem;
}

.left-span {
  font-size: 16px;
  font-weight: 700;
  margin-right: 0.25rem;
}

article h2 {
  margin-bottom: 1rem;
}

article p {
  margin-bottom: 1rem;
}

.modal-card {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  display: grid;
  padding-top: 1rem;
  padding-right: 2rem;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
}

.radio {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  height: 100%;
}

.radio-input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.label {
  grid-column: 2/3;
  grid-row: 1/2;

  justify-content: flex-start;
}

.label-left {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-content: flex-end;
}

.paragraph {
  grid-column: 2/4;
  grid-row: 2/3;
}

.modal-card-bottom {
  grid-column: 1/4;
  grid-row: 3/4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(235, 235, 235);
  margin-top: 1rem;
  padding: 1rem 1.25rem;
  display: none;
}

.input-number {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 50px;
  width: 8rem;
  height: 3rem;
  margin-right: 1rem;
}

.input-number input {
  width: 50%;
  height: 1rem;
  margin-left: 0.5rem;
  border: none;
  font-weight: 700;
}

.input-number label {
  color: rgb(235, 235, 235);
}

.modal-mahogany {
  opacity: 0.5;
}

/* End of Modal */

/* Succes Modal */
.success-modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.success-modal-container {
  background-color: white;
  border-radius: 10px;
  height: fit-content;
  width: 40vw;
  padding: 2rem;
  flex-direction: column;
}

.success-modal-container article {
  text-align: center;
  margin: 1rem auto;
}

/* RESPONSIVE */
@media (max-width: 800px) {
  .link-container {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .container {
    width: 80vw;
  }
  .card-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .title {
    margin-bottom: 0.5rem;
  }
  .card-footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .left {
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  #bookmark-button {
    display: none;
  }
  .button-container {
    justify-content: flex-start;
  }
  .bookmark {
    height: 3rem;
    width: 3rem;
    margin-left: 1rem;
  }
  .count {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .money {
    border-right: none;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  .money::after {
    content: "";
    background-color: rgb(235, 235, 235);
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 1px;
    width: 50%;
  }
  .backers {
    border-right: none;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  .backers::after {
    content: "";
    background-color: rgb(235, 235, 235);
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 1px;
    width: 80%;
  }
  .days {
    border-right: none;
    padding-bottom: 1rem;
    text-align: center;
  }
}

@media (max-height: 400px) {
  .container {
    margin: 0 auto;
  }
}
